*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Bai Jamjuree', sans-serif;

}
:root{
    /* color */
    --botton-lft: hsl(171, 66%, 44%);
    --bottom-rth:hsl(233, 100%, 69%);
    --color-text-bold:hsl(210, 10%, 33%);
    --color-pra:hsl(201, 11%, 66%);
       /* text-font */
       --tittle-1:32px;
       --tittle-2:28px;
       --pragraph:16px;

}

header {
    background-image: url(images/bg-header-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: top;
    align-items: center;
    gap: 24px;
    height: 380px;
    padding-top: 80px;

}

.download{
    display: flex;
    gap: 42px;
    margin-top: 18px;
}
a{
    background-color: aqua;
    padding: 10px 18px;
    border-radius: 18px;
    text-decoration: none;

}
.ios{
    background-color:var(--botton-lft) ;
    color: #ffff ;
}
.mac{
    background-color: var(--bottom-rth);
    color: white;
}
.part-1-h2{
    font-size: var(--tittle-1);
    color: var(--color-text-bold);
}
.part-1-pra{
    font-size: 14px;
    color: var(--color-pra);
    
}
/* part-2 */
.part-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 72px;

}
.part-2-h2{
    color: var(--color-text-bold);
}
.part-2-pra{
    color: var(--color-pra);
    font-size: var(--pragraph);
    text-align: center;
    margin-top: 20px;
}
/* part 3 */
.part-3{
    display: flex;
    gap: 72px;
    align-items: center;
    margin-top: 46px;
   padding-right: 38px;
}
.text-part-3{
    display: flex;
    flex-direction: column;
    gap: 52px;
    margin-bottom: 72px;
}
.text-part-3-h3{
    color: var(--color-text-bold);
    margin-bottom: 8px;
}
.text-part-3-pra{
    color: var(--color-pra);
    font-size: 12px;
}
.part-4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 110px;
    gap: 18px;

}
.text-part-4-h2{
    color: var(--color-text-bold);

}
.text-part-4-pra{
    color: var(--color-pra);
    font-size: var(--pragraph);
    text-align: center;
    line-height: 24px;
}
.image-part-4{
    margin-top: 72px;
}